body{
	background-color: #F5F5F5;
	font-family: sans-serif;

}
aside{
	position: absolute;
	width: 280px;
	background-color: white;
	top: 8px;
	bottom: 0px;
	left: 8px;
	padding: 10px;
	z-index: 1;
	transition-property: left;
	transition-duration: 500ms; 
}
#todos{
	position: relative;
	padding-left: 300px;
	margin: 0px 0 40px 0; 
	text-align: center;

}
#todos h1{
	width: 100%;
	font-size: 100px;
	font-weight: 400;
	color:rgba(175,47,47,0.35); 
	margin-top: -10px;
	margin-bottom: -5px;
}
#foot{
	padding-left: 300px;
	text-align: center;
	font-size: 10px;
	color: #bfbfbf;
}

@media screen and (max-width: 890px){
	aside{left: -300px;}
	#todos{padding-left: 0px;}
	#foot{padding-left: 0px;}
}
.side{
	padding: 2px;
	margin:3px;
	border-bottom-style: dashed;
	border-bottom-color: gray;
	border-bottom-width: thin;
	padding-bottom: 5px;	
}
.side footer{
	text-align: right;
}
blockquote{
	background-color: #F5F5F5;
	margin-top: 10px;
	margin-bottom: 8px;
	margin-left: 2px;
	margin-right: 2px;
	padding: 3px;
}
.qipao{

 	position: absolute;
 	right: 35px;
 	margin-top: -8px;
 	margin-bottom: 15px;
	border-style: solid;
	border-width: 10px;
	border-color: #F5F5F5 transparent transparent transparent;
}
.italic{
	font-style:italic;
}
a:link,a:visited{
	color: red;
	text-decoration: none;
}
a:hover{
	color: green;
	text-decoration: underline;
}
#foot a{
	color: #bfbfbf;
}
header input{
	width: 474px;
	height: 33px;
	padding: 16px 16px 16px 60px;
	font-size: 24px;
	border:0px;
	border: 1px solid #c0c0c0;

	/*box-shadow: darkgrey 5px 5px 30px 5px;*/
}
header input::-webkit-input-placeholder{
	font-size: 24px;
	font-style: italic;
	color: rgba(0,8,8,0.2);
}

.todo-list,.main{
	margin: 0px auto;
	padding: 0px;
	list-style: none;
	background-color: white;
	width: 552px;
	text-align: left;
}

.todo-list li{
	position: relative;
	font-size: 24px;
	border: 1px solid #c0c0c0;
	width: 550px;
}
.todo-list li label{
	margin-left: 45px;
	padding: 15px 60px 15px 15px;
	width: 430px;
	height: 28px;
	display: block;
	line-height: 100%;
	color: gray;
}
button{
	position: absolute;
	display: none;
	margin: auto 0px;
	padding: 0px;
	right: 10px;
	top: 0px;
	bottom: 0px;
	width: 40px;
	height: 40px;
	color: #cc9a9a;
}
.list{
	position: absolute;
	zoom: 70%;
	margin: auto 0px;
	padding: 0px;
	left:0px;
	top: 0px;
	bottom: 0px;
	width: 40px;
	height: 40px;
	color: #cc9a9a;
}
.todo-list li:hover button{
	display: block;
}
#select-all{
	position: absolute;
	zoom: 70%;
	width: 34px;
	height: 55px;
	margin-top: -70px;
}
